.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background-color: $white-color;
    padding: 48px 25px;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}

.mob-menu .menu-toggle {
    position: absolute;
    top: 21px;
    right: 25.33px;
    border: none;
}

.mob__nav {
    flex-grow: 1;
    color: $dark-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    &-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &-link {
        transition: color $main-transition;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.mob__contacts {
    color: $grey-color;
    margin-bottom: 64px;
}

.mob__contact-link {
    font-size: 34px;
    line-height: 1.18;
    display: block;
    transition: color $main-transition;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &[href^='mailto'] {
        color: $accent-color;
        margin-bottom: 32px;

        @media screen and (max-width: 360px) {
            font-size: 24px;
        }
    }

    &[href^='tel'] {
        font-size: 24px;
        line-height: 1.17;
    }
}

.mob__social {
    display: flex;

    &-item {
        padding: 0 10px;
    }

    &-item:first-child {
        padding-left: 0;
    }

    &-item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &-link {
        color: $accent-color;
    }
}

.menu-toggle {
    min-width: 40px;
    min-height: 40px;
    @extend %flex-centered;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob__nav-link,
.mob__contact-link,
.mob__social-link {
    cursor: pointer;
}
