.feature-list {
  @media screen and (min-width: 768px) {
      display: flex;
    justify-content: center;
    align-items: flex-start;

    .item {
        max-width: 270px;
    }
  }
  }
  
  .feature-list .item:not(:last-child) {
    margin-right: $main-gap-layot;
  }

  .icon-feature {
    display: flex;
    justify-content: center;
    align-items: center; 
    
    margin-bottom: 30px;
  
    width: 270px;
    height: 120px;

    background-color: #f5f4fa;
  }
  
  .features-title {
    margin-top: 0;
    margin-bottom: 10px;
  
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  
  .features-text {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }